/*CSS FOR CATEGORY PART */

.title_filter{
	padding-bottom: 20px; 
}

.label_filter{
	display: flex;
	justify-content: center;
}

.filter_form{
	background-color: #EFEFEF;
	padding: 2px; 
	border : 1px black solid;
}
.max_price_range{
	width: 40px;  
}

.radio_button_filter:after{
	width: 15px;
    height: 15px;
    border-radius: 5px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.radio_button_filter:checked:after{
	width: 15px;
    height: 15px;
    border-radius: 5px;
    position: relative;
    background-color: #D86B27;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: #fff;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 9px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 9px;
      cursor: pointer;
      background: #D86B27;
      box-shadow: -80px 0 0 80px #F8C8AA;
    }

}


