/*CSS FOR CATEGORY PART */

.title_filter{
	padding-bottom: 20px; 
}

.label_filter{
	display: flex;
	justify-content: flex-start;
}

.filter_form{
	background-color: #EFEFEF;
  max-width: 100px; 
  height: 290px; 
	padding: 5px 100px 5px 5px; 
	border : 1px black solid;
  width: 12.5%; 
}
.max_price_range{
	width: 40px;  
}

.filter_form_block{

  padding-right: 20px; 
  padding-bottom: 40px;
  position: sticky;
}

.filter_table_row_line{
  height: 45px; 
}
/*Change the radio buttons style */
.radio_button_filter:after{
	width: 15px;
    height: 15px;
    border-radius: 5px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.radio_button_filter:checked:after{
	  width: 15px;
    height: 15px;
    border-radius: 5px;
    position: relative;
    background-color: #D86B27;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/*To change the scroll index style*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: #fff;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 9px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 9px;
      cursor: pointer;
      background: #D86B27;
      box-shadow: -80px 0 0 80px #F8C8AA;
    }

}
/*Change the select tag style*/
.select_type_of_sell{
    font-family: lato; 
    margin: 0 auto;
    width: 100px;
   -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color:#F9F9F9; /* Fallback color if gradients are not supported */
    background-image: url(../Images/arrowselect.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
    background-image: url(../Images/arrowselect.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Firefox (3.6 to 15) */
    background-image: url(../Images/arrowselect.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of Internet Explorer  10*/
    background-image: url(../Images/arrowselect.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */
    background-image: url(../Images/arrowselect.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); /* Standard syntax; must be last */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #3D3D3D;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*Button to send the formular */
.filter_select_button{
    font-size: 12px;
    background-color: #D86B27;
    border-radius: 5px; 
    padding: 5px;  
    color: white;
    border-color: #D86B27;
    margin: 0 auto;
    width: 100px;

}

.filter_select_button:hover {
 background-color: #B44500; 
  cursor: pointer; 
}

.filter_select_button_block{
  padding-top:  20px;

}


/*Bloc that regroup filter part and item list*/
.filter_item_categories_bloc{
  display: flex; 
 
}
