/*CSS FOR FOOTER MENU */

/*Generals parameters */
.footer{
	border-top: 1px #B7B7B7 solid; 
	display: flex;
	justify-content: space-around;
	background-color: #F7F7F7; 
}

.first_footerpart{
	padding-left: 20px; 
}

.third_footerpart{
	padding-right : 40px;
}
/*3 parts of footer menu */
.title_footer1 ,.title_footer2, .title_footer3{
	text-decoration : underline;
	font-weight: bold;  
}

.title_footer1{
	padding-left: 18px;
}

.title_footer3{
	padding-left: 40px;
}

.footer_table{ 
	width: 100%; 
}

.second_footerpart{
	padding-left: 200px; 
}
/*All socials medias */
.different_socialMedia{
	padding-right: 20px; 
	padding-bottom: 5px; 
}

#textLabel_email_marketing{
	padding: 10px 0px 10px 0px; 

}


/*Button*/
#button_email_marketing{
	padding: 10px 20px 10px 20px; 
	font-family: lato; 
	text-align: center;
	border-radius: 4px; 
	color : white;
	border-color: #D86B27;
	background-color: #D86B27; 
}


#button_email_marketing:hover{
	background-color: #B44500; 
	cursor: pointer; 
}

#help_center{
	list-style-type: none; 
}
