body{
	font-family: lato; 
	padding-right: 10%;
	padding-left: 10%; 
}

button{
	font-family: lato; 
	background-color: #D86B27;
}

/*========================HEADER CSS=====================*/


/*Part with Categorie/ Buying/ Sell part*/
#selectionMode{
	display : flex;
	justify-content: space-between;
	list-style-type: none; 
	align-items: center; 
	padding-bottom: 10px; 
	border-bottom: 1px #B7B7B7 solid; 
}

/*Part With Logo and cart/account icons*/
#logoHeader{
	display : flex;
	justify-content: space-between;
	align-items: center; 
	padding-bottom: 15px; 
	border-bottom: 1px #B7B7B7 solid; 
}

/*part with only cart/acoount incons*/
.customerIcons{
	padding-left: 30px; 
}

/*Part to choose categories if we have select "Category"*/
#categoryMode{
	display : flex;
	list-style-type: none; 
	align-items: center; 
}


/*for change color and underline on <a> in Header*/
.selectionType1, .selectionType2, .selectionType3{
	color: #393939; 
	text-decoration: none;
	font-weight: bold; 
}

.selectionType2{
	color: #D86B27; 
	padding-right: 50px; 
}


/*========================Main Section=========================*/


/*First Slider Part (With Ad Pictures)*/
.caroussel_view{
	position: relative;
 	overflow: hidden;
 	margin: 20px auto 0 auto;
 	border-radius: 4px;
	padding-bottom: 15px; 
}

.slider_ul{
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;

}

.slider_li{
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  text-align : center;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.6;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  /* -webkit-transition: all 0.2s ease; */
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

/*Trust Icons part */

.trust_icons{
	display: flex;
	justify-content: space-around;
}

.text_trust_icons{
	text-align: center;
	font-weight: bold;
}



/*Second Slider with Main Items */
.carroussel_fitness{
	display: flex;
	align-items: center;
}

.button_discover{
	font-size: 16px;
    background-color: white;
    border-radius: 5px; 
    padding-bottom: 4px; 
}

.button_discover:hover {
	border-color: #D86B27;
	 background-color: #D86B27;
	 color : white ;
}

.caroussel_items{
	list-style-type: none; 
	display: flex;
    overflow-x: scroll;
    padding: 1rem 0; 
    padding-left: 10px; 
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 1 0 450px;/*Here we add flex-grow : 1, flex shrink : 0 and flex-basis : 450px (rapport 1, réduction de 0, reserve 450px minimum)*/
    margin-left: 1rem;
    scroll-snap-align: start;
}

.text_caroussel_item{
	text-align: center;
}



/*Change scroll bar aspect*/ 
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}


/*Last part of Home Page*/

.button_discover2{
	font-size: 18px;
    background-color: #C2E4F8;
    border-radius: 5px; 
    padding: 5px 20px 5px 20px;  
    color: #26428D;
    border-color: #26428D; 
}

.button_discover2:hover {
	border-color: #26428D;
	 background-color: #26428D;
	 color: #C2E4F8;
}

.lastpart_text{
	padding: 5px 10px 20px 20px; 
}

.last_part{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*=============================Footer==============================*/

.footer{
	border-top: 1px #B7B7B7 solid; 
	display: flex;
	justify-content: space-around;
	background-color: #F7F7F7; 
}

.first_footerpart{
	padding-left: 20px; 
}

.third_footerpart{
	padding-right : 40px;
}

.title_footer1 ,.title_footer2, .title_footer3{
	text-decoration : underline;
	font-weight: bold;  
}

.title_footer1{
	padding-left: 18px;
}

.title_footer3{
	padding-left: 40px;
}

.footer_table{ 
	width: 100%; 
}

.second_footerpart{
	padding-left: 200px; 
}

.different_socialMedia{
	padding-right: 20px; 
	padding-bottom: 5px; 
}

#textLabel_email_marketing{
	padding: 10px 0px 10px 0px; 

}

#button_email_marketing{
	padding: 10px 20px 10px 20px; 
	font-family: lato; 
	text-align: center;
	border-radius: 4px; 
	color : white;
	border-color: #D86B27;
	background-color: #D86B27; 
}


#button_email_marketing:hover{
	background-color: #B44500; 
}

#help_center{
	list-style-type: none; 
}
