body{
    font-family: lato; 
    padding-right: 10%;
    padding-left: 10%; 
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
}
/*Modifie l'input*/
.content input{
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: rgb(255, 255, 255);
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
}

/*Main CSS for login menu */
.login{
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    background-color: rgb(190, 190, 181);
}

.login button{
    font-family: lato;
}

/*Links */
.login a{
    text-decoration: none;
    color: white;
}

/*Buttons */
#button_go_to_register{
    padding: 10px 20px 10px 20px; 
    font-family: lato; 
    text-align: center;
    border-radius: 4px; 
    color : white;
    border-color: #D86B27;
    background-color: #D86B27; 
}
/*Log in button */
#log_in_button{
    padding: 10px; 
    font-family: lato; 
    text-align: center;
    border-radius: 4px; 
    color : white;
    border-color: #D86B27;
    background-color: #D86B27; 
}

#button_go_to_register:hover{
    background-color: #B44500;
    cursor: pointer;
}


#log_in_button:hover{
    background-color: #B44500;  
    cursor: pointer;
}

/*Button forget password */
#button-fpw{
    
    font-family: lato; 
    text-align: center;
    border-radius: 4px; 
    color : white;
    border-color: transparent;
    background-color: transparent; 
 
}

#button-fpw:hover{
    color : #B44500;
    cursor: pointer;
}

/*Button register*/
#login-title{
    display: flex;
    justify-content: center;
}

#button-login{
    display: flex;
    justify-content: space-around;
}

#button_go_to_register {
    margin-left:30%;
}