body{
    font-family: lato; 
    padding-right: 10%;
    padding-left: 10%; 
}


.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
}

.content-register input{
    display: flex;
    border-radius: 5px;
    font-size: 16px;
    background: rgb(255, 255, 255);
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
}

.register{
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    background-color: rgb(190, 190, 181);
}

#button-register{
    font-family: lato;
}

#button-register a{
    text-decoration: none;
    color: white;
}


#register_button{
    padding: 10px 20px 10px 20px; 
    font-family: lato; 
    text-align: center;
    border-radius: 4px; 
    color : white;
    border-color: #D86B27;
    background-color: #D86B27; 
}

#register_button:hover{

    background-color: #B44500;
    cursor: pointer;

}

.radios{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#register-title{
    display: flex;
    justify-content: center;
}

#button-register{
    display: flex;
    flex-direction: row;
    justify-content: center;
}