.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
}

.content-register input{
    display: flex;
    border-radius: 5px;
    font-size: 16px;
    background: rgb(255, 255, 255);
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
}

.register{
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    background-color: rgb(190, 190, 181);
}

#button-register{
    font-family: lato;
}

#button-register a{
    text-decoration: none;
    color: white;
}

input[type=submit]{
    color: #fff;
    font-size: 16px;
    width: 80px;
    border: 0;
    padding: 10px;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #D86B27;
}

.radios{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#register-title{
    display: flex;
    justify-content: center;
}

#button-register{
    display: flex;
    flex-direction: row;
    justify-content: center;
}